@media screen and (min-width: 600px) {
    nav{
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 20px
    }

    main{
        max-width: 800px;
        margin: 0 auto;
    }

    .card{
        display: grid;
        gap: 20px;
    }

    
    footer{
        display: flex;
        justify-content: center;
    }
}



@media screen and (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #3498db;
        padding: 10px;
        text-align: center;
    }

    nav ul.show {
        display: flex;
    }

    nav li {
        margin: 10px 0;
        display: block;
    }

    #menu-btn {
        display: block;
        cursor: pointer;
    }
}


body.dark-mode {
    background-color: #121212;
    color: #fff;
}

nav, footer {
    background-color: #1f1f1f;
}

nav a {
    border-color: #fff;
    color: #fff;
}