body{
    margin: 10px;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.logo-container img{
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.header-content span{
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000;
}

.chamber-name{
    display: block;
}


.menu{
    display: block;
    cursor: pointer;
    border: none;
    color: #7cfc00;
    background-color: transparent;
    text-align: center;
    font-size: 2rem;
    margin-left: 45%;
    
}

.menu::before {
	content: "☰";
}

.menu.active::before {
	content: "❎";
}

nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: orangered;
    color: navy;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    list-style: none;

    
}

.navmenu  {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center; 
}

/* .navmenu li {
    display: block;
    width: 25%;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;

}  */

.navmenu a {
    display: none;
    text-decoration: none;
    color: navy;
    padding: 1rem;
    text-align: center;
}

.navmenu a:hover {
    background-color: #7cfc00;
    color: navy;
}

.active li a{
    display: block;
    font-size: 1.5rem;
}

/* ul.menu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
} */


.hero img{
    width: 100%;
}

.cta-container {
    max-width: 800px; 
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 4px 8px orangered; 
    padding: 10px; 
}

.cta {
    color: navy;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px orangered;
}


.cta button {
    background-color: rgb(124, 252, 0, 0.7);
    border: none;
    color: navy;

}


#events-heading{
    text-align: center;
    color: navy;
    margin-top: 100px;
}

.events-container{
    width: 80%;
    text-align: center;
    margin-left: 30px;
    color: navy;
    margin-bottom: 30px;
}

.current-events-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(124, 252, 0, 0.7);
    border-radius: 10px;

}

h2{
    margin-top: 40px;
}

.current-events-container:hover{
    box-shadow: 4px 4px 6px #7cfc00;
}



.weather-card {
    background-color: #f0f0f0;
    color: white;
    padding: 20px;
    margin-top: 150px;
    background-image: url('../images/weather.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 35%;
    height: 300px;
    float: right;
    
}

.weather-card h2{
    margin-top: 10px;
}

.forecast-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.forecast {
    width: 18%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

footer{
    background-color: #7cfc00;
    text-align: center;
    padding: 15px;
    color: black;
    font-weight: bold;
    height: 230px;
}

.sections-container {
    display: block;
    width: 50%;
    color: navy;
   
}

.ad-container {
    
    border: transparent; 
    border-radius: 20px;
    padding: 30px; 
    margin: 50px; 
    margin-top: 30px;
    box-shadow: 5px 5px 9px rgb(255, 69, 0, 0.6);
    height: auto;
    width: 80%;
}

#spotlights{
    text-align: center;
    color: navy;
    font-weight: bold;
}




.footer-top {
    padding-bottom: 30px;
}

.footer-top h3 {
    color: black;
    font-size: 20px;
}

.footer-top p {
    font-size: 14px;
    line-height: 1.5;
}


.footer-bottom {
    border-top: 1px solid #555;
    padding-top: 20px;
}

.footer-bottom p {
    font-size: 10px;
}

.footer-bottom .text-right {
    text-align: right;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    float: left;
    width: 38%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 40px;

}


.statistics,.image-column,.lsk-facts,.ads{
    color: navy;
}


.statistics {
    grid-area: statistics;
    border-bottom: 2px solid navy;
    padding: 20px;
}

.statistics h3{
    text-align: center;
    font-size: 30px;
}


.demographics {
    grid-area: demographics;
    font: 8px;
    color: navy;
}

.ads {
    grid-area: ads;
}

.page-visits{
    font-size: 2rem;
    font-weight: bold;
    color: orangered;
    border: 3px dotted navy;
    text-align: center;
  
}

.image-column {
    grid-area: image-column;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 128, 0.2);
}

.image-column img {
    width: 90%; 
    height: auto;
    padding: 20px;
    transition: transform 0.3s ease;
}   

.image-column img:hover{
    transform: scale(1.1);
    
}

.demographics ul {
    column-count: 1; 
    
}


.demographics ul li {
    margin-bottom: 10px; 
}

#demo-heading{
    text-align: center;
    font-size: 30px;
}

#ad-heading{
    text-align: center;
    font-size: 30px;
}


.advert-container{
    grid-area: ads;
    display: flex;
    flex-direction: column;
    gap: 30px;
}




.container {
    width: 90%; 
    margin: 0 auto; 
}

header, nav, .page-visits, .statistics, .demographics, .ads, footer {
    width: 100%; 
    margin-bottom: 20px; 
}

.logo-container {
    text-align: center; 
}


.advert-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.advert-container img,
.advert-container video {
    width: 90%;
    height: auto;
}


.footer-top {
    padding: 20px 0; 
}

.footer-top .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footer-top .container .row {
    flex-direction: column; 
    align-items: center;
}

.footer-top .container .row .col-md-4 {
    text-align: center; 
    margin-bottom: 20px;
}

footer{
    height: auto;
}



