@media screen and (min-width: 600px){
    .menu{
        display: none;
    }

    nav{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: orangered;
        color: navy;
        margin: 5px 0;
        
    }
    
    .navmenu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex; 
        align-items: center;
        justify-content: center; 
    }
    
    .navmenu li {
        display: inline-block;
        width: 25%;
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
    
    }
    
    .navmenu a {
        display: block;
        text-decoration: none;
        color: navy;
        padding: 15px;
    }
    
    .navmenu a:hover {
        background-color: #7cfc00;
        color: navy;
    }

    .current-events-container{
        padding: 20px;
        border: 2px solid #7cfc00;
        border-radius: 40px;
        height: 300%;
        margin-bottom: 50px;
        color: navy;
        height: auto;
        margin-left: 50px;
    }

    .events-container{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-left: 100px;
    }

    .header-content{
        margin-left: 100px;
    }


    /* .container {
        grid-template-columns: 1fr; 
    } */

    .main-area {
        margin-top: 20px; 
    }
}

    







