* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(246, 249, 250);
    color: navy;
    margin: 0 50px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 200px;
}

.header-content img{
    box-shadow: 5px 5px 8px black;
}

.pageTitle {
    font-size: 50px;
    margin-left: 10px;
    text-shadow: 3px 3px 5px #3498db;
}

button#dark-mode{
    border: none;
    margin-left: 30px;
    background-color: #3498db;
    color: navy;
    margin-left: auto;
    padding: 10px;
}


h3, h1 {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 30px;
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    margin: 10px;
}

footer {
    background-color: #3498db;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

#h2-bg {
    height: 30px;
}

.activities-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#learning{
    
    box-shadow: 8px 8px 8px 10px gray;
}

#info{
    font-size: 20px;
    box-shadow: 8px 8px 8px 10px gray;
    text-align: center;
}

#weather-info{
    margin: 20px ;
}

.card {
    border: 2px solid gray;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    width: 40%;
    margin: 30px;
}

h2 {
    background-color: #3498db;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}


.menu {
    cursor: pointer;
    border: none;
    color: navy;
    background-color: transparent;
    font-size: 2rem;
    margin-left: 0;
    display: block; 
    
}

.menu::before {
    content: "☰";
}

.menu.active::before {
    content: "❎";
    
}

nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #3498db;
    color: navy;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.navmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.navmenu a {
    display: none;
    text-decoration: none;
    color: navy;
    padding: 1rem;
    text-align: center;
}

.navmenu a:hover {
    background-color: white;
    color: #3498db;
}

.active li a {
    display: block;
    font-size: 1.5rem;
}

body.dark-mode {
    background-color: black;
    color: white;
}

.hero-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

img{
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 10%;
    left: 250px;
    transform: translate(-50%, -50%);
    color: #3498db;
    text-shadow: 5px 3px 3px navy;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    font-family: cursive;
    
   
}

iframe{
    width: 100%;
    
}




